<!-- HEADER SECTION
 1. Коли клонували репозиторій, потрібно у консолі прописати команду для переходу на свою Гілку - git switch -c "назва вашої гілки" без лапок. Після чого обираємо свої файли html/css та працюємо в них. 
 2.(Не забувай! Назва класу повинна бути повязана з секцією яку ти розробляєш.Наприклад якщо це header секція, назва классів повинна бути повязана з цим - приклад class="header-title"-->

 <header class="page-header">
    <div class="container header-container">
<nav class="header-nav">
<a class="header-logo">
    <svg class="header-logo-icon" height="18" width="18">
     <use href=""></use>
    </svg>
    <svg class="header-logo-text" height="15" width="168">
        <use href=""></use>
    </svg>
</a>
<ul class="nav-list">
<li><a class="menu-nav" href="./how-it-works.html">How It Works</a></li>
<li><a class="menu-nav" href="./vegetables.html">Vegetables</a></li>
<li><a class="menu-nav" href="./reviews.html">Reviews</a></li>
</ul>
</nav>
<button type="button" class="header-button">Shop now</button>
<button class="burger-btn" type="button">
    <svg class="burger-icon" height="32" width="32">
        <use href=""></use>
    </svg>
</button>
</div>
 </header>