<div class="mobile-menu" data-modal>
  <div class="mobile-menu-container">
    <button class="mobile-menu-close" type="button" data-modal-close>
      <svg class="mobile-menu-close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a
            class="mobile-menu-nav-link mobile-menu-how-it-works-link"
            href="#how-it-works"
            >How It Works</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a
            class="mobile-menu-nav-link mobile-menu-vegetables-link"
            href="#vegetables"
            >Vegetables</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a
            class="mobile-menu-nav-link mobile-menu-reviews-link"
            href="#reviews"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>

    <a class="mobile-menu-shop-now-link" href="#your-order">Shop now</a>
  </div>
</div>
