<section class="reviews">
  <div class="container">
    <div class="reviews-title-container">
      <h2 class="reviews-title">
        Reviews from our <span class="title-part">customers</span>
      </h2>
      <p class="reviews-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img
          class="reviews-photo"
          srcset="../img/reviews/john@2x.jpg 2x"
          src="../img/reviews/john.jpg"
          alt="Photo John"
          width="56"
          height="56"
        />
        <div class="list-item-text-container">
          <h3 class="reviews-name">John Wax</h3>
          <p class="reviews-info">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <li class="reviews-list-item one-hidden">
        <img
          class="reviews-photo"
          srcset="../img/reviews/victoria@2x.jpg 2x"
          src="../img/reviews/victoria.jpg"
          alt="Photo Victoria"
          width="56"
          height="56"
        />
        <div class="list-item-text-container">
          <h3 class="reviews-name">Victoria Romashenko</h3>
          <p class="reviews-info">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="reviews-list-item two-hidden">
        <img
          class="reviews-photo"
          srcset="../img/reviews/ihor@2x.jpg 2x"
          src="../img/reviews/ihor.jpg"
          alt="Photo Ihor"
          width="56"
          height="56"
        />
        <div class="list-item-text-container">
          <h3 class="reviews-name">Ihor Trachuk</h3>
          <p class="reviews-info">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
