<section class="vegetables-section">
  <div class="container">
    <h2 class="vegetables-title">
      ORGANIC
      <span class="vegetables-title-part">VEGETABLES</span>
    </h2>
    <p class="vegetables-paragraph">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">eggplant</h3>
          <p class="vegetables-dscr">60 USD / KG</p>
          <img
            class="vegetables-photo"
            srcset=""
            src="../img/eggplant.jpg"
            alt="eggplant photo"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">leek</h3>
          <p class="vegetables-dscr">50 USD / KG</p>
          <img
            class="vegetables-photo"
            srcset=""
            src="../img/leek.jpg"
            alt="leek photo"
          />
        </div>
      </li>

      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">mushrooms</h3>
          <p class="vegetables-dscr">40 USD / KG</p>
          <img
            class="vegetables-photo"
            srcset=""
            src="../img/mushrooms.jpg"
            alt="mushrooms photo"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">corn</h3>
          <p class="vegetables-dscr">60 USD / KG</p>
          <img
            class="vegetables-photo"
            srcset=""
            src="../img/corn.jpg"
            alt="corn photo"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">sweet potatoes</h3>
          <p class="vegetables-dscr">50 USD / KG</p>
          <img
            class="vegetables-photo"
            srcset=""
            src="../img/sweet-potatoes.jpg"
            alt="sweet potatoes photo"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">carrot</h3>
          <p class="vegetables-dscr">40 USD / KG</p>
          <img
            class="vegetables-photo"
            srcset=""
            src="../img/carrot.jpg"
            alt="carrot photo"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
