<section class="vegetables-section">
  <div class="container">
    <h2 class="vegetables-title">
      ORGANIC
      <span class="vegetables-title-part">VEGETABLES</span>
    </h2>
    <p class="vegetables-paragraph">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">eggplant</h3>
          <p class="vegetables-dscr">60 USD/KG</p>
          <img src="" alt="eggplant photo" />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">leek</h3>
          <p class="vegetables-dscr">50 USD/KG</p>
          <img src="" alt="leek photo" />
        </div>
      </li>

      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">mushrooms</h3>
          <p class="vegetables-dscr">40 USD/KG</p>
          <img src="" alt="mushrooms photo" />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">corn</h3>
          <p class="vegetables-dscr">60 USD/KG</p>
          <img src="" alt="corn photo" />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">sweet potatoes</h3>
          <p class="vegetables-dscr">50 USD/KG</p>
          <img src="" alt="sweet potatoes photo" />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-name">carrot</h3>
          <p class="vegetables-dscr">40 USD/KG</p>
          <img src="" alt="carrot photo" />
        </div>
      </li>
    </ul>
  </div>
</section>
