<!-- VEGETABLES SECTION 
 1. Коли клонували репозиторій, потрібно у консолі прописати команду для переходу на свою Гілку - git switch -c "назва вашої гілки" без лапок. Після чого обираємо свої файли html/css та працюємо в них.  
 2.(Не забувай! Назва класу повинна бути повязана з секцією яку ти розробляєш.Наприклад якщо це vegetables секція, назва классів повинна бути повязана з цим - приклад class="vegetables-title"-->

<section class="vegetables-section">
  <div class="container">
    <h2 class="vegetables-title">
      ORGANIC
      <span class="vegetables-title-part">VEGETABLES</span>
    </h2>
    <p class="vegetables-paragraph">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-name">eggplant</h3>
        <p class="vegetables-dscr">60 USD/KG</p>
        <img src="" alt="eggplant photo" />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">leek</h3>
        <p class="vegetables-dscr">50 USD/KG</p>
        <img src="" alt="leek photo" />
      </li>

      <li class="vegetables-item">
        <h3 class="vegetables-name">mushrooms</h3>
        <p class="vegetables-dscr">40 USD/KG</p>
        <img src="" alt="mushrooms photo" />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">corn</h3>
        <p class="vegetables-dscr">60 USD/KG</p>
        <img src="" alt="corn photo" />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">sweet potatoes</h3>
        <p class="vegetables-dscr">50 USD/KG</p>
        <img src="" alt="sweet potatoes photo" />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">carrot</h3>
        <p class="vegetables-dscr">40 USD/KG</p>
        <img src="" alt="carrot photo" />
      </li>
    </ul>
  </div>
</section>
