.advertisement {
  /*   align-items: flex-start;
  justify-content: flex-start;

  
  padding: 80px 10px;
  min-width: 320px;
  max-width: 375px;
  height: 469px;
  */
  background-color: #fbfbfb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement-text {
  display: flex;

  flex-direction: column;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 104.167% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  color: #141414;
}

.advertisement-discount {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 104.167% */
  letter-spacing: -0.72px;
  padding: 3px 10px 0 10px;
  text-transform: uppercase;
  color: #fbfbfb;
  border-radius: 12px;
  width: auto;
  height: auto;
  background: #576f35;
}

@media only screen and (min-width: 768px) {
  /*
    .container {
    padding: 0 32px;
    max-width: 768px;
    height: 488px;
  }
    */

  .advertisement-text {
    font-size: 64px;
    line-height: 1.09;
  }
  .advertisement-discount {
    font-size: 64px;
    line-height: 1.09;
  }
}

@media only screen and (min-width: 1280px) {
  /*  .container {
    padding: 0 100px;
    max-width: 1280px;
    height: 440px;
  }
    */

  .advertisement-text {
    display: inline-block;

    font-size: 76px;
    line-height: 1.05;
  }
  .advertisement-discount {
    width: 808px;
    height: 86px;
    font-size: 76px;
    line-height: 1.05;
  }
}
