.footer {
    background-color: #7A3145;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


/* Логотип компанії + Слоган компанії */

.footer-logo-container {
    display: flex;
    flex-direction: column;
    width: 296px;
}

.footer-logo-svg {
    display: block;
    width: 168px;
    height: 16px;
    margin-bottom: 14px;
}

.footer-slogan {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 40px;
}

/* Список якірних посилань */

.footer-info-container {
    margin-bottom: 80px;
}

.footer-nav-container {
    margin-bottom: 40px;
}

.footer-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer-nav-item {
    margin-bottom: 14px;
}

.footer-nav-item:last-child {
    margin-bottom: 0px;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;;
}

/* Контактні дані */

.footer-contacts-container {
    width: 179px;
    
}
.footer-contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-contacts-item {
    margin-bottom: 14px;
}

.footer-contacts-item:last-child {
    margin-bottom: 0;
}

.footer-contacts-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    text-decoration: none;
}


/*  Політика та авторскі права */

.footer-bottom {
display: flex;
align-items: center;
justify-content: space-between;
gap: 49px;
}


.footer-bottom-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    gap: 8px;
}

.footer-span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
} 




.copyright {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
} 



@media only screen and (min-width: 768px) {
    .footer {
        padding: 32px;
    }
    .footer-container {
        justify-content: flex-start;
        align-items: baseline;  
    }

    .footer-logo-container {
        width: 265px;
    }

    .footer-logo-svg {
        width: 194px;
        height: 18px;
        margin-bottom: 25px;
    }
   
    .footer-slogan {
        font-size: 16px;
        line-height: 1.25;
 }



    .footer-nav-container {
        margin-bottom: 64px;
    }

    .footer-logo-container {
        max-width: 265px;
        margin-right: auto;
        margin-left: 0;
    }

    .footer-info-container {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }


    
    .footer-nav-item {
        margin-bottom: 25px;
    }
    .footer-nav-item:last-child {
        margin-bottom: 0;
    }

    .footer-nav-link {
        font-size: 32px;
    }


    .footer-contacts-item {
        margin-bottom: 25px;
    }
    
    .footer-contacts-item:last-child {
        margin-bottom: 0;
    }

    .footer-contacts-link {
        font-size: 14px;
        line-height: 1.11;
        letter-spacing: -0.01em;
    }


  .footer-bottom {
    gap: 284px;
  }



    
}


  /* Styles for Desktop devices */
  @media only screen and (min-width: 1280px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 100px;
    }

    .footer-container {
        justify-content: space-between;
        
    }

    .footer-logo-container {
        margin-right: 0;
    }

    .footer-info-container {
        flex-direction: row;
        margin-bottom: 125px;
    }
    
    .footer-nav-container {
        margin-right: 121px;
    }

    .footer-bottom {
        justify-content: space-between;
        gap: 610px;
      }
   
  }
  