.footer {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #7A3145;
    justify-content: space-between;
    align-items: flex-start;
}
/* Логотип компанії + Слоган компанії */

.footer-logo-container {
    width: 296px;
}

.footer-logo-svg {
    display: block;
    width: 168px;
    height: 16px;
    margin-bottom: 14px;
}

.footer-slogan {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 40px;
}

/* Список якірних посилань */

.footer-nav-container {
    margin-bottom: 40px;
}

.footer-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer-nav-item {
    margin-bottom: 14px;
}

.footer-nav-item:last-child {
    margin-bottom: 0px;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;;
}

/* Контактні дані */
.footer-contacts {
    margin-bottom: 80px;
}

.footer-contacts-container {
    width: 179px;
}
.footer-contacts-list {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.footer-contacts-item {
    margin-bottom: 14px;
}

.footer-contacts-item:last-child {
    margin-bottom: 0;
}

.footer-contacts-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    text-decoration: none;
}


/*  Політика та авторскі права */

.footer-bottom {
display: flex;
justify-content: space-between;

}

.footer-copyright {
    display: flex;
    gap: 8px;
}

.left {
    width: 171px;
    height: 14px;
    margin-right: 49px;
}

.right {
    width: 116px;
    height: 14px;
}

.footer-bottom-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}

.footer-span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}

.copyright {
    text-align: right;
    font-weight: 500;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.01em;
color: rgba(251, 251, 251, 0.5);
}