/* Секція Hero */
/* ----------- Мобільна версія (за замовчуванням) ----------- */
.hero {
  background-image: url('../img/hero-mobile.jpg'); /* Зображення додати*/
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  text-align: center;
  background-color: #576f35;
}

/* Підтримка Retina для мобільних пристроїв */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero-mobile@2x.jpg'); /* Зображення для ретина */
  }
}

.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 20px; /* Відстань до наступного елемента */
  letter-spacing: -1.5%; /* Зменшена відстань між літерами */
  color: #fff;
}

.hero-description {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  max-width: 320px;
  margin: 0 auto;
}

.hero-btn {
  background-color: #ff6b6b;
  color: #fff;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

/* ----------- Версія для планшетів ----------- */
@media (min-width: 768px) {
  .hero {
    background-image: url('../img/hero-tablet.jpg');
    padding: 60px 40px;
  }

  /* Підтримка Retina для планшетів */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url('../img/hero-tablet@2x.jpg'); /* Зображення для ретина */
    }
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-description {
    font-size: 18px;
    max-width: 600px;
  }

  .hero-btn {
    padding: 14px 24px;
    font-size: 18px;
  }
}

/* ----------- Версія для десктопів ----------- */
@media (min-width: 1280px) {
  .hero {
    background-image: url('../img/hero-desktop.jpg');
    padding: 80px 60px;
    text-align: left;
  }

  /* Підтримка Retina для десктопів */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url('../img/hero-desktop@2x.jpg'); /* Зображення для ретина */
    }
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-description {
    font-size: 20px;
    max-width: 800px;
  }

  .hero-btn {
    padding: 16px 32px;
    font-size: 20px;
  }
}
