.vegetables-section {
  background-color: #7a3145;
}

.vegetables-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.vegetables-title-part {
  color: rgba(251, 251, 251, 0.3);
  display: block;
}

.vegetables-paragraph {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  margin-bottom: 40px;
  max-width: 626px;
}
.vegetables-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vegetables-item-wrapper {
  border-radius: 40px;
  padding: 32px 26px;
  width: 100%;
  background-color: #fbfbfb;
}
.vegetables-name {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
  margin-bottom: 12px;
}
.vegetables-dscr {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 14px;
}
.vegetables-photo {
  width: 282px;
  height: 243px;
}

@media only screen and (min-width: 768px) {
  .vegetables-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .vegetables-item-wrapper {
    width: 342px;
  }
  .vegetables-title {
    margin-bottom: 50px;
  }
  .vegetables-paragraph {
    margin-bottom: 50px;
  }
  .vegetables-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px 20px;
  }
  .vegetables-paragraph {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .vegetables-item-wrapper {
    width: 346px;
  }
  .vegetables-title {
    margin-bottom: 25px;
  }
  .vegetables-list {
    gap: 28px 21px;
  }
}
